@using SmartStore.Web.Framework.Theming;

@{
    Layout = "~/Views/Shared/_ColumnsThree.cshtml";
}
<div class="page home-page">
    <div class="page-body">
        @Html.Widget("home_page_top")
        @Html.Action("TopicBlock", "Topic", new { systemName = "HomePageText" })

        @Html.Action("HomepageCategories", "Catalog")

        @Html.Action("HomepageProducts", "Catalog")

        @Html.Action("HomepageBestSellers", "Catalog")

        @Html.Action("HomePageNews", "News")

        @Html.Action("HomePagePolls", "Poll")
        @Html.Widget("home_page_bottom")
    </div>
</div>
<script type="application/ld+json">
{
  "@@context": "http://schema.org",
  "@@type": "WebSite",
  "url": "http://quarterarcade.com/",
  "potentialAction": {
    "@@type": "SearchAction",
    "target": "http://quarterarcade.com/search?q={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>

@section teaser {

    @Html.Action("ContentSlider", "Home")

}
@section right_top {
    @Html.Action("Random", "DidYouKnow", new { area = "" })
}

